.App {
  text-align: center;
}

.Template-text {
  text-align: left;
}

.Upload-form {
  text-align: center;
  color: "white";
    padding: "10px";
    margin: 50px;
}

.Hover-box {
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Spinner{
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.login-lbl {
  text-align: left;
  padding: 0.25rem 0;
}

.login-btn {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn {
  background: none;
  color: rgb(75, 75, 121);
  text-decoration: underline;
}

.form-label{
  text-align: justify;
  font-size: 16px;
  margin: 10px;   
  border-color: black;
}


.AdminApproval-form {
  text-align: center;
  color: "white";
    padding: "10px";
    margin: 50px;
}
.pdf-container{
  width: 100%;
  height: 800px;
  background-color: #e4e4e4;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg{

  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}